/* Fullscreen modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
  }
  
  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .close {
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-arrow {
    color: #ffffff;
    position: absolute;
    top: 50%;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }
  
  .nav-arrow:hover {
    opacity: 0.8;
  }
  
  .left-arrow {
    left: 30px;
  }
  
  .right-arrow {
    right: 30px;
  }
  
  .fullscreen-image {
    width: auto;
    height: auto;
    max-width: 440px;
    max-height: 798px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
