body {
  height: 100%;
  color: rgb(130, 132, 143);
  font-size: 14px;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background: rgb(247, 247, 247);
}

.sh-background {
  height: 500px;
  z-index: -1;
  position: absolute;
  top: -200px;
  left: 0px;
  right: 0px;
  width: 100%;
  transform: skewY(-10deg);
  background-color: rgb(81, 2, 8); /* Add the desired background color */
}


#container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  max-height: 100vh; /* Adjust as needed */
  max-width: 100%; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
}


#restaurant-name {
  margin-top: 50px;
  font-size: 20px;
  color: #FFFFFF;

}


#learn-more-button {
  display: inline-block;
  margin-top: 0px;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #510208;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.sh-page__website {
  opacity: 0.8;
  color: rgb(121, 125, 128);
  padding: 0px;
  margin: 0px;
  margin-bottom: -50px;
}
.sh-page__website-container {
  text-align: center;
  margin: 10px auto;
}
#image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-list-item img {
  margin: 10px auto;
  display: block;
  height: auto;
  width: 1012px;
  max-height: auto; /* Maintain the aspect ratio */
  max-width: 50%;
}

.map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust this as needed */
    }

